@charset "UTF-8";
/* Google Fonts用のCSSを読み込み */
@import 'https://fonts.googleapis.com/css?family=Abel';

/*
変数定義--------------------*/
$ja_font : '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$background : #ffffff;
$ink1 : #2c2a96;
$ink2 : #000000;
$highlight : #ffffff;

/*
ページ全体--------------------*/
html
{
    font-size: 62.5%;
}
body
{
    font-family: $ja_font;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: $ink2;
    background-color: $background;
    max-width: 1024px;
    margin: 0 auto;
}
section
{
    padding: 60px 0;
}
section .container
{
    width: 90%;
}
section h2
{
    font-size: 3.2rem;
}
a{
    text-decoration: none;
    color: $ink2;
}
a:visited{
    color: $ink2;
}
a:hover{
    color: #611B82;
}
a:active{
    color: #16d6e0;
}
.text-center{
    text-align: center;
}

.block-center,
section .container,
#skills i
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-browse
{
    font-family: 'Abel', sans-serif;
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-browse
{
    text-transform: uppercase;
}

/*
ヘッター--------------------*/
.button-contact
{
    font-size: 20px;
    line-height: 0;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin: 20px 20px 0 0;
    padding: 10px;
    text-align: center;
    color: $ink1;
    border: 2px solid $ink1;
}
.button-contact:visited
{
    color: $ink1;
}
.button-contact:hover,
.button-contact:active
{
    color: $highlight;
    background-color: $ink1;
}

header{
    border: 2px solid $ink1;
    margin-top: 20px;
    margin-bottom: 20px;

    .profile{
        clear: both;
        width: 60%;
        margin: 0 auto;
        padding: 60px 0px 70px 0px;
    }
    .businesscard{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }
    .site-title{
        font-size: 1.8rem;
        line-height: normal;

        span{
            font-size: 4.2rem;
            display: block;
            color: $ink1;
        }
    }
    p{
        font-size: 1.6rem;
    }
}

/*
スキル--------------------*/
#skills
{
    background-color: $ink1;

    .container{
        display: -webkit-flex;
        display:         flex;
        justify-content: space-between;
    }
    h2{
        margin-bottom: 60px;
        color:$highlight;
    }
    .skill-box{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-flex: 1;
                flex: 1;
        margin: 0px 10px;
        padding: 20px;
        background-color: $background;
    }
    i{
        font-size: 4.5rem;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
        padding-top: 15px;
        text-align: center;
        color: $highlight;
        background-color: $ink1;
    }
    h3{
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: $ink1;
    }
    p{
      a{
        text-decoration: underline;
      }
    }
    ul{
        margin-left:20px;
    }
    li{
        list-style: circle;
    }
}

/*
ワーク--------------------*/
#works{
    border: 2px solid $ink1;
    margin-top: 20px;
    margin-bottom: 20px;

    h2{
        margin-bottom: 50px;
    }
    .flex-container{
        display:flex;
    }
    .works-box{
        img{
            display: block;
            max-width: 100%;
        }
        a{
            position: relative;
            display: block;
            height: 100%;

            background-color:$ink1;
            color:$highlight;

            .works-box-inner{
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                height: 100%;
                color: $highlight;
                background-color: rgba(0, 0, 0, .7);

                h3{
                    font-size: 1.6rem;
                    font-weight: bold;
                    margin: 0 0 5px;
                }
                .button-browse{
                    font-size: 1rem;
                    font-weight: bold;
                    display: block;
                    width: 180px;
                    padding: 5px 0;
                    color: $highlight;
                    background-color: $ink1;
                }
                .button-browse:hover{
                    background-color: #611B82;
                }
            }
            div{
                padding:10px;
                box-sizing: border-box;
            }
            small{
                font-size: 1rem;
                display: block;
            }
        }
        a:hover .works-box-inner
        {
            display: flex;
            align-items:center;
            justify-content:center;
            width: 100%;
        }
    }
    .other_samples{
      display: none;
    }
}

/*
連絡先--------------------*/
#contact{
    border: 2px solid $ink1;
    margin-top: 20px;
    margin-bottom: 20px;

    ul{
        margin-top: 60px;
        text-align: center;

        li{
            font-size: 3rem;
            display: inline-block;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            margin-right: 20px;
            text-align: center;
            vertical-align: top;
        }
        li:last-child{
            margin-right: 0;
        }
        .github{
            font-size: 3.2rem;

            i{
                margin-left: 2px;
            }
        }
        .tumblr{
          i{
              display: inline-block;
              margin-top: 11px;
          }
        }
        a{
            display: block;
            width: 50px;
            height: 50px;
            color: $highlight;
            background-color: $ink1;
        }
        a:hover{
            background-color: #611B82;
        }
    }
}


/*
コピーライト--------------------*/
footer
{
    padding: 10px 0;
    text-align: center;
    color: $highlight;
    background-color: $ink1;
}


// mobile
@media (max-width: 768px) {
    //ヘッター
    header{
        .businesscard{
            flex-direction:column;
        }
    }

    //スキル
    #skills{
        .container{
            flex-direction:column;
        }
        .skill-box{
            margin:10px 0px;
        }
    }

    //ワーク
    #works{
        .flex-container{
            flex-direction:column;
        }
        .works-box a .works-box-inner{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0,0,0,0.3);
        }
    }
}
