@charset "UTF-8";
$font : Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
$key01 : #3B3353;
$key02 : #F0F3C4;
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin eng01{
    font-family: 'Bellefair', serif;
}
@mixin eng02{
    font-family: 'Cedarville Cursive', cursive;
}
