@charset "UTF-8";
@use "sass:math";
@import "_var";
.sec_com{
  // background-color: #fff;
  // padding: 50px;
  // @include bs;
  // border-radius: 20px;

  @include mb(50);
}
.post_list{
  @include flex;
  @include sb;
  list-style: none;

  li{
    width: 48%;
    @include bs;
    display: grid;
    border-radius: 10px;
    background-color: $accent;
    color: #fff;
    @include mb(20);
    overflow: hidden;
    aspect-ratio: 1.7;
    border: solid 4px $accent;

    .post_tit{
      grid-area: 1/-1;
      padding: 1em 0.5em 2em;
      @include bs;
      font-size: calc(1em * 1.2);
      background: linear-gradient(to bottom, rgba(#000,0.7),rgba(#000,0));
      position: relative;
      z-index: 2;
    }
    figure{
      grid-area: 1/-1;
      opacity: 0.7;
      overflow: hidden;

      img{
        object-fit: cover;
        @include w;
        height: 100%;
        max-width: none;
      }
    }
    .post_txt{
      grid-area: 1/-1;
      padding: 1em 0.5em;
      @include bs;
      background: linear-gradient(to top, rgba(#fff,0.7),rgba(#fff,0));
      font-weight: 300;
      position: relative;
      z-index: 2;
    }
    .post_date{
      grid-area: 1/-1;

      position: relative;
      z-index: 2;
      // @include eng01;
      align-self: end;
      justify-self: start;
      @include bs;
      padding: 0.2em 0.5em;
      // color: $base;
      font-weight: 300;
    }
    a{
      grid-area: 1/-1;
      position: relative;
      z-index: 2;
      align-self: end;
      justify-self: end;
      color: #fff;
      @include db;
      text-decoration: none;
      background-color: $accent;
      padding: 1em 1.5em;
      font-size: calc(1em * 1.2 * 1.2);
      line-height: 1;
      border-radius: 10px 0px 0px 0px;
      @include bs;
      @include eng01;

      &::after{
        @include dib;
        content: "";
        width: 0.4em;
        height: 0.4em;
        border: solid 1px rgba(#fff,0.8);
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
        vertical-align: 0.15em;
        transition: all 500ms;
      }

      &:hover{
        &::after{
          transform: translateX(0.4em) rotate(45deg) ;
        }
      }
    }
  }
}
.sec02{
  border-radius: 10px;
  @include bs;
  padding: 50px;
  background-color: rgba(#fff,0.5);
  border: solid 4px $accent;
}