@charset "UTF-8";
@import "common";

.sp{
  display: none;
  @include sp{
    display: block;
  };
}
/*
ページ全体--------------------*/
html
{
    font-size: 62.5%;
}
body
{
    font-family: $font;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    max-width: 1024px;
    margin: 0 auto;

    @include sp{
      font-size: 1.3rem;
    };
}