<header class="on">
    <div class="header_in">
    <nav>
        <div class="current"></div>
        <ul>
            <li><a href="#top">top</a></li>
            <li><a href="#skills">skills</a></li>
            <li><a href="#price">price</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>
    </nav>
    <ul>
        <li>
            <a href="<%= github %>"><i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="<%= tumblr_ask %>"><i class="fab fa-tumblr-square"></i></a>
        </li>
        <li><a href="mailto:<%= email %>"><i class="fas fa-envelope"></i></a></li>
    </ul>
    </div>
</header>