<%
  var root = './';
  var thisPage = 'index';
  var thisName = '';
  var title = '';
%>
<%- include(root + '_inc/_head',{root,thisPage,title}) %>
<%- include(root + '_inc/_header',{root,thisPage}) %>
<main class="contents">
  <section class="sec_com" id="news">
    <div id="app">
      <h2 class="tit_com01">新着記事一覧</h2>
      <ul class="post_list">
        <li v-for="post in viewPosts" :key="post.id" :class="post.srcBlogName">
          <h3>{{ post.title }}</h3>
          <figure v-if="post.firstImage">
            <img :src="post.firstImage" alt="First Image">
          </figure>
          <template v-else>
            <div>{{ post.first50Chars }}</div>
          </template>
          <p>{{ formatDate(post.date) }}</p>

          <a :href="post.srcUrl" target="_blank">more</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="sec_com" id="about">
    <h2 class="tit_com01">お仕事のご依頼について</h2>
    <p class="txt_com01">
      LPコーディングやHP修正作業など、請け負っております。<br>
      <span class="cap">LPコーディング:11,000円～/HP修正:見積り対応</span><br>
      イラスト・漫画コミッションは準備中です。
    </p>
  </section>
</main>
<%- include(root + '_inc/_footer',{root,thisPage}) %>
