<div class="contents_wrap">
<header>
  <div class="logo_wrap">

    <div class="logo_bg">
    </div>
    <div class="logo_content">
      <h1 class="logo">
        Geso<span>げそ</span>
      </h1>
      <p class="header_txt">
        <%= description %>
      </p>
    </div>
  </div>

  <nav>
    <ul class="header_nav">
      <li>
        <a href="#news">新着記事一覧</a>
      </li>
      <li>
        <a href="#about">お仕事のご依頼について</a>
      </li>
      <li>
        <a href="#contact">連絡先</a>
      </li>
    </ul>
  </nav>

</header>